{
  "root": true,
  "parser": "@babel/eslint-parser",
  "extends": [
    "standard",
    "standard-jsx",
    "standard-react"
  ],
  "plugins": [
    "simple-import-sort"
  ],
  "rules": {
    "react/prop-types": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  },
  "env": {
    "node": true
  }
}
